<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CS Internship Database</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/generics.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/scrollable.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/search.css') }}">
</head>
<body>
    {% include 'student-navbar.html' %}
    <br/>
    <div class="search">
        <h1>Internship Database</h1>
        <form action="/search" method="GET">
            <input class="input-field" type="search" placeholder="Search" aria-label="Search" id="seachbar" name="searchbar">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
    
    
    <div class="scrollable-list">
        {% for experience in experiences %}
            <div class="list-item">
                {{ experience['title'] }}
                <form action="/view-post" method="get">
                    <input type="hidden" name="item_id" value="{{ experience['id'] }}">
                    <button class="btn btn-outline-success" type="submit">View</button>
                </form>
            </div>
        {% endfor %}
    </div>
</body>
</html>